<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CA_Project_Activation_Codes.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="container w-auto text-start p-0">
                    <div class="navbar-brand">
                        <img class="logo" src="~/image/login/logo2.png" width="150px" />
                        <b>@ViewData["NavTitle"]</b>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">View Cart</a>
                        </li>
                        <li class="nav-item @ViewData["LogoutStatus"]">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Purchases" asp-action="Index">Purchases History</a>
                        </li>
          
                        <li class="nav-item  ms-auto @ViewData["LoginStatus"]">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                        <!-- Move the "Logout" item to the end -->
                        <li class="nav-item ms-auto @ViewData["LogoutStatus"]">
                            <!-- ms-auto applies margin-left: auto -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>

                       
                    </ul>
                   
                </div>
                <div id="shopping_cart" class="shopping_cart p-0 m-0 @ViewData["hide_cartmenu"]">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                        <img class="img-fluid" src="~/Image/ICON/shopping-cart.png" />
                    </a>
                    <span id="CartItemCount">@ViewBag.CartItemCount</span>
                </div>
            </div>
        </nav>
    </header>
@*     <div id="shopping_cart" class="shopping_cart ratio ratio-1x1 @ViewData["hide_cartmenu"]">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
            <img class="img-fluid"  src="~/Image/ICON/shopping-cart.png" />
        </a>
        <span>@ViewBag.CartItemCount</span>
    </div> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-white text-muted">
        <div class="container">
            &copy; 2024 - Team 07
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
